<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>            
            Sanepharma            
          </h1>
        </div>
        <div class="col-xs-6 text-right">
            <h1>INVOICE</h1>
            <h1><small>Invoice #SP001</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>To :<input type="text" ng-model="selectedCompany" uib-typeahead="company as company.name for company in model.companies | filter:$viewValue" class="form-control"></h4>
                </div>
                <div class="panel-body">
                    <p>
                        Address
                        <br>
                        <br> {{selectedCompany.address}}
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-offset-4 col-xs-3">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" placeholder="Select Date" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <!-- / end client details section -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <h4>S.No</h4>
                </th>
                <th>
                    <h4>Products</h4>
                </th>
                <th>
                    <h4>Description</h4>
                </th>
                <th>
                    <h4>Qty</h4>
                </th>
                <th>
                    <h4>Rate/Price</h4>
                </th>
                <th>
                    <h4>Sub Total</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <button ng-click="increaseLimit()" type="button" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-plus"></span></button>
            <button ng-click="decreaseLimit()" type="button" class="btn btn-danger btn-xs pull-right"><span class="glyphicon glyphicon-minus"></span></button>
            <tr ng-repeat="i in getNumber(productLimit) track by $index">
                <td class="text-center">{{$index+1}}</td>
                <td>
                    <input type="text" ng-model="selectedProduct" uib-typeahead="product as product.name + ' (' + product.code + ')' for product in model.products | filter:$viewValue" class="form-control">
                </td>
                <td>
                    <input type="text" ng-model="selectedProduct.code" class="form-control">
                </td>
                <td class="text-right">
                    <input type="text" ng-model="quantity" class="form-control">
                </td>
                <td class="text-right">
                    <input type="text" ng-model="selectedProduct.mrp" class="form-control">
                </td>
                <td class="text-right">
                    <input type="text" ng-model="quantity * selectedProduct.mrp " class="form-control">
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
            <p>
                <strong>
            Sub Total : <br>
            TAX : <br>
            Total : <br>
            </strong>
            </p>
        </div>
        <div class="col-xs-2">
            <strong>
          <span style='font-family:Arial;'>&#8377;</span>1200.00 <br>
          N/A <br>
          <span style='font-family:Arial;'>&#8377;</span>1200.00 <br>
          </strong>
        </div>
    </div>
    <div class="row">
        <button ng-click="saveInovice()" type="button" class="btn btn-primary btn-md"><span class="glyphicon glyphicon glyphicon-floppy-disk"></span> Save</button>
        <button ng-click="saveAndPrintInvoice()" type="button" class="btn btn-success btn-md"><span class="glyphicon glyphicon glyphicon-print"></span> Save and Print</button>
    </div>
    <!--  <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Bank details</h4>
                </div>
                <div class="panel-body">
                    <p>Your Name</p>
                    <p>Bank Name</p>
                    <p>SWIFT : --------</p>
                    <p>Account Number : --------</p>
                    <p>IBAN : --------</p>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="span7">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Contact Details</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Email : you@example.com
                            <br>
                            <br> Mobile : --------
                            <br>
                            <br> Twitter : <a href="https://twitter.com/tahirtaous">@TahirTaous</a>
                        </p>
                        <h4>Payment should be made by Bank Transfer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
