<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a class="btn btn-primary btn-sm pull-left" ui-sref=".new">+ Add New Employee</a>
        </div>
        <br/>
        <br/>
    </div>
    <table class="table table-hover table-striped table-bordered ">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Area Code</th>
                <th>Opening Balance</th>
                <th>BST Code</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in model | filter:searchProducts">
                <td>{{employee.employee_code}}</td>
                <td>{{employee.employee_name}}</td>
                <td>{{employee.employee_areacode}}</td>
                <td>{{employee.employee_openingbalance}}</td>
                <td>{{employee.employee_bstcode}}</td>
                <td>{{employee.date}}</td>
                <td><a href="" ui-sref=".details({id:employee._id})"><span class="glyphicon glyphicon-pencil edit"></span></a></td>
                <td><a href="" ng-click="deleteEmployee(employee._id)"><span class="glyphicon glyphicon-trash delete"></span></a></td>
        </tbody>
    </table>
</div>
