<div class="container">
    <div class="row nav" style="border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;">
        <div class="col-md-12">
            <ul class="nav nav-pills col-md-6">
                <li><a ui-sref=".resources" class="subNavItem">Companies</a></li>
                <li><a href="" class="subNavItem">Stockists</a></li>
                <li><a href="" class="subNavItem">Employees</a></li>
            </ul>
            <div class="col-md-6 pull-right">
                <input type="text" class="form-control input-sm" ng-model="searchProducts" placeholder="Search Resources" />
            </div>
        </div>
    </div>
</div>
