<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page-header">
                <h4>Med-Stock Tracker</h4><small>Version : 0.0.2 (alpha release)</small>
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-10">
            <h5>Developed by <a href="http://www.specta.in" target="_blank">Specta</a></h5>
            <img src="http://www.specta.in/images/specta_logo.png">
        </div>
    </div>    
    <div class="row">
        <div class="col-md-10">
            <h5>Licensed to <a href="http://www.sanepharma.com" target="_blank">Sanepharma Private Limited</a></h5>            
        </div>
    </div>    
    <div class="row">
        <div class="col-md-10">
            <h5>Support</h5>
            <small style="text-decoration:underline">hello@specta.in</small>
        </div>
    </div>    
</div>
