<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page-header">
                <h4>Feedback</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">                
                <textarea class="form-control" rows="5" id="comment" placeholder="Your thoughts for the product and suggestions for improvement are awaited ! "></textarea>
            </div>
            <button ng-click="giveFeedback()" type="button" class="btn btn-primary btn-block"><span class="glyphicon glyphicon glyphicon-send"></span> Send</button>
        </div>
    </div>
</div>
