<div class="container" style="margin-top:130px">
    <div align="center">
        <h3>Sanepharma Private Limited</h3>       
         <small>&#169; 2008-2016</small>
        <h6>PLOT NO.141/42, FLAT NO.T-3, STREET NO.4,<br/>
			GURU RAM DAS NAGAR, LAXMI NAGAR, <br/>DELHI-110092			
		</h6>
		<p>Contact: <a href="tel:9934487386">9934487386</a></p>
		<p>Email: <a href="mailto:info@sanepharma.com?Subject=Hello%20Sanepharma" target="_blank">info@sanepharma.com</a></p>
		<p>Other Email: <a href="mailto:sanepharma@rediffmail.com?Subject=Hello%20Sanepharma" target="_blank">sanepharma@rediffmail.com</a></p>		
		
		<small>If you are an admin, go to <a href="/login">login</a></small>

    </div>
</div>
