<nav class="navbar navbar-inverse " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SanePharma</a>
        </div>
        <ul class="nav navbar-nav">
            <li ng-if="currentUser" ui-sref-active="active"><a ui-sref=".home">Dashboard</a></li>
            <li ui-sref-active="active"><a ui-sref=".login">Login</a></li>            
        </ul>
        <div>        
            <ul class="nav navbar-nav navbar-right" ng-if="currentUser" >                
                <li><a ui-sref=".products">Products</a></li>                
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref=".companies">Companies</a></li>
                        <li><a ui-sref=".stockists">Stockists</a></li>
                        <li><a ui-sref=".employees">Employees</a></li>                        
                    </ul>
                </li>
                

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sales</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref=".invoiceentry">Invoice Entry</a></li>
                        <li><a ui-sref=".billheader">Create Bill Header</a></li>
                        <li><a ui-sref=".salesreturn">Sales/Market Return</a></li>
                        <li><a href="#">Customer Wise Sales Return</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Purchase</a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref=".purchaseentry">Purchase Entry</a></li>
                        <li><a href="#">Purchase Book</a></li>
                        <li><a href="#">Product Wise purchase</a></li>
                        <li><a href="#">Credit Note Entry</a></li>
                        <li><a href="#">Debit Note Entry</a></li>
                        <li><a href="#">Search</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Print Stock Ledger</a></li>
                        <li><a href="#">Print A/C ledger</a></li>
                        <li><a href="#">Outstandings</a></li>
                        <li><a href="#">Statements</a></li>
                        <li><a href="#">Payment Reminder</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Vouchers Entry</a></li>
                        <li><a href="#">Voucher Register</a></li>
                        <li><a href="#">Datewise Balance</a></li>
                        <li><a href="#">Write Voucher From Sale</a></li>
                        <li><a href="#">Write Voucher From Purchase</a></li>
                        <li><a href="#">Double Column Cashbook</a></li>
                        <li><a href="#">Enter Old Outstanding</a></li>
                        <li><a href="#">Payment Register</a></li>
                        <li><a href="#">Correct Outstanding</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref=".password">Change Password</a></li>
                        <li><a ui-sref=".bug">Report A Bug</a></li>
                        <li><a ui-sref=".feedback">Feedback</a></li>
                        <li><a ui-sref=".about">About</a></li>
                        <li ui-sref-active="active"><a ui-sref=".login">Logout</a></li>            
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
