<div class="container">
    <div class="row">
        <div class="col-xs-6">            
            <h3><small>Purchase Entry #SP001</small></h3>
        </div>
    </div>
    
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <h4>S.No</h4>
                </th>
                <th>
                    <h4>Products</h4>
                </th>
                <th>
                    <h4>Batch No.</h4>
                </th>
                <th>
                    <h4>Qty</h4>
                </th>
                <th>
                    <h4>Exp</h4>
                </th>
                <th>
                    <h4>Rate</h4>
                </th>
                <th>
                    <h4>Amount</h4>
                </th>
                <th>
                    <h4>Tax</h4>
                </th>
                <th>
                    <h4>Discount</h4>
                </th>
                <th>
                    <h4>Free Qty.</h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Bistocol</td>
                <td></td>
                <td class="text-right">-</td>
                <td class="text-right">-</td>
                <td class="text-right"><span style='font-family:Arial;'>&#8377;</span>200.00</td>
                <td class="text-right"><span style='font-family:Arial;'>&#8377;</span>200.00</td>
                <td class="text-right">-</td>
                <td class="text-right">-</td>
                <td class="text-right">5</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Terizyme</td>
                <td></td>
                <td class="text-right">10</td>
                <td class="text-right">-</td>
                <td class="text-right"><span style='font-family:Arial;'>&#8377;</span>75.00</td>
                <td class="text-right"><span style='font-family:Arial;'>&#8377;</span>750.00</td>
                <td class="text-right">-</td>
                <td class="text-right">-</td>
                <td class="text-right">10</td>
            </tr>           
        </tbody>
    </table>
    <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
            <p>
                <strong>
            Sub Total : <br>
            TAX : <br>
            Total : <br>
            </strong>
            </p>
        </div>
        <div class="col-xs-2">
            <strong>
          <span style='font-family:Arial;'>&#8377;</span>1200.00 <br>
          N/A <br>
          <span style='font-family:Arial;'>&#8377;</span>1200.00 <br>
          </strong>
        </div>
    </div>
</div>
