<div class="container">
    <div class="row">
        <div class="col-sm-offset-8 col-md-offest-8 col-sm-4 col-md-4 ">
            <input type="text" class="form-control input-sm" ng-model="searchProducts" placeholder="Search Products" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <a class="btn btn-primary btn-sm pull-left" ui-sref=".new">+ Add New Product</a>
        </div>
        <br/><br/>
    </div>
    <table class="table table-hover table-striped table-bordered ">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Packing</th>
                <th>Company</th>
                <th>Sales Tas</th>
                <th>Discount</th>
                <th>Box Size</th>
                <th>Purchase As</th>
                <th>M.R.P</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="value in model">
                <td>{{value.device_id}}</td>
                <td>{{value.vehicle_number}}</td>
                <td>{{value.driver_name}}</td>
                <td>
                    <a type="button" class="btn btn-info" ui-sref=".map({id:value.device_id})"> <span class="glyphicon glyphicon-map-marker"></span> Locate</a>
                </td>
                <td><a type="button" class="btn btn-default" href="#" target="_blank"><span class="glyphicon glyphicon-warning-sign"></span>  2 Warnings </a></td>
                <td>{{value.sos_number}}</td>
                <td><a class="btn btn-default" ui-sref=".details({id:value.device_id})">Edit</a></td>
        </tbody>
    </table>
</div>
